.home-ui-banner-p1.home-ui-banner-B2-1 {
background-image: url(//media.staticontent.com/media/pictures/d0af5abb-2871-4c02-a0e7-e8bb6c01ba2b/420x420/);
}
.home-ui-show-images .home-ui-banner-p2.home-ui-banner-B2-2 {
background-image: url(//media.staticontent.com/media/pictures/efcb290d-7569-4f12-a979-3f5dbbcb30af/420x420/);
}
.home-ui-show-images .home-ui-banner-p3.home-ui-banner-B2-3 {
background-image: url(//media.staticontent.com/media/pictures/615ce039-c0dc-4cad-a6db-1f62d6bd9943/420x420/);
}
.home-ui-show-images .home-ui-banner-p4.home-ui-banner-B2-4 {
background-image: url(//media.staticontent.com/media/pictures/f6434c20-dac7-4a78-ba49-ec1bd91fc9de/420x420/);
}
.home-ui-show-images .home-ui-banner-p5.home-ui-banner-B2-5 {
background-image: url(//media.staticontent.com/media/pictures/46db2b90-570f-4734-9d13-a269e13d906e/420x420/);
}
.home-ui-show-images .home-ui-banner-p6.home-ui-banner-B2-6 {
background-image: url(//media.staticontent.com/media/pictures/4aadf9e1-1ef6-4944-819a-b4c9d8abfd17/420x420/);
}
.home-ui-show-images .home-ui-banner-p7.home-ui-banner-B2-7 {
background-image: url(//media.staticontent.com/media/pictures/1fb60b21-0725-453e-ab6f-7feaed9654cd/420x420/);
}
.home-ui-offer-M1-1 {
background-image: url("//media.staticontent.com/media/pictures/61d1d848-b120-49ed-b3d4-78117bc091ba/420x210");
}
.home-ui-offer-M1-2 {
background-image: url("//media.staticontent.com/media/pictures/649ddc5b-1a3a-4088-b991-2a44280ca881/420x210");
}
.home-ui-show-images .home-ui-offer-M1-3 {
background-image: url("//media.staticontent.com/media/pictures/474aeadb-9267-4cad-9416-d6e9aad036db/420x210");
}
.home-ui-show-images .home-ui-offer-M1-4 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-show-images .home-ui-offer-M1-5 {
background-image: url("//media.staticontent.com/media/pictures/c76b68dc-2344-45bd-85f6-734a6468c785/420x210");
}
.home-ui-show-images .home-ui-offer-M1-6 {
background-image: url("//media.staticontent.com/media/pictures/9a5a16db-3730-4b98-bb97-d6ef80f03dcf/420x210");
}
.home-ui-show-images .home-ui-offer-M1-7 {
background-image: url("//media.staticontent.com/media/pictures/e207cc22-3967-4a65-8883-c40a76ececce/420x210");
}
.home-ui-show-images .home-ui-offer-M1-8 {
background-image: url("//media.staticontent.com/media/pictures/8c0f80bb-2520-48d5-b537-d176cc8ecfa9/420x210");
}
.home-ui-show-images .home-ui-offer-M1-9 {
background-image: url("//media.staticontent.com/media/pictures/5e3af2e3-b4df-4c78-917b-f36d766e6408/420x210");
}
.home-ui-show-images .home-ui-offer-M1-10 {
background-image: url("//media.staticontent.com/media/pictures/7e3b9c2b-a7bf-431e-a2cd-69fa89858a2b/420x210");
}
.home-ui-show-images .home-ui-offer-M1-11 {
background-image: url("//media.staticontent.com/media/pictures/111302ce-5fe6-4dec-8f89-ce9cb92d7610/420x210");
}
.home-ui-offer-M2-1 {
background-image: url("//media.staticontent.com/media/pictures/7d7631de-6dff-45f4-9939-7857c67bc3ac/420x210");
}
.home-ui-offer-M2-2 {
background-image: url("//media.staticontent.com/media/pictures/4ad5ad9d-472a-4e74-998f-e30961e13f4b/420x210");
}
.home-ui-show-images .home-ui-offer-M2-3 {
background-image: url("//media.staticontent.com/media/pictures/00133400-01fc-4159-ae16-363c19f9e848/420x210");
}
.home-ui-show-images .home-ui-offer-M2-4 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-show-images .home-ui-offer-M2-5 {
background-image: url("//media.staticontent.com/media/pictures/1104ce67-3f52-43b0-9444-2db6c2d8ba80/420x210");
}
.home-ui-show-images .home-ui-offer-M2-6 {
background-image: url("//media.staticontent.com/media/pictures/e2a30c2e-3a77-4335-84ee-0bd3bbee9af5/420x210");
}
.home-ui-show-images .home-ui-offer-M2-7 {
background-image: url("//media.staticontent.com/media/pictures/1094b47a-7070-46c9-a318-874de6c74484/420x210");
}
.home-ui-show-images .home-ui-offer-M2-8 {
background-image: url("//media.staticontent.com/media/pictures/1dec09a3-465c-412c-a968-5d7533efd114/420x210");
}
.home-ui-show-images .home-ui-offer-M2-9 {
background-image: url("//media.staticontent.com/media/pictures/607e3913-7017-4068-87c0-fb16d9ed44f6/420x210");
}
.home-ui-show-images .home-ui-offer-M2-10 {
background-image: url("//media.staticontent.com/media/pictures/6942f4b5-22bd-47f5-99a2-d895b68581c6/420x210");
}
.home-ui-show-images .home-ui-offer-M2-11 {
background-image: url("//media.staticontent.com/media/pictures/ae5e8004-77b4-40a7-9f48-9ac04a512c58/420x210");
}
.home-ui-offer-M3-1 {
background-image: url("//media.staticontent.com/media/pictures/76eebe06-0052-4d3f-a403-9611bbb71ddf/420x210");
}
.home-ui-offer-M3-2 {
background-image: url("//media.staticontent.com/media/pictures/b8ecf0ea-91f3-4ed1-8842-b8043622ad64/420x210");
}
.home-ui-show-images .home-ui-offer-M3-3 {
background-image: url("//media.staticontent.com/media/pictures/5272c22e-c0fd-41f6-b0ee-bd3aedb0c2e7/420x210");
}
.home-ui-show-images .home-ui-offer-M3-4 {
background-image: url("//media.staticontent.com/media/pictures/8cc460bc-c417-43eb-b290-9fef28feb54a/420x210");
}
.home-ui-show-images .home-ui-offer-M3-5 {
background-image: url("//media.staticontent.com/media/pictures/f1eb1f31-b88f-426c-907f-d17f8005e789/420x210");
}
.home-ui-show-images .home-ui-offer-M3-6 {
background-image: url("//media.staticontent.com/media/pictures/92545c31-d2b1-458e-9f4d-b02f1c447daa/420x210");
}
.home-ui-show-images .home-ui-offer-M3-7 {
background-image: url("//media.staticontent.com/media/pictures/276b83c9-02f7-4c12-994d-96d05bbad655/420x210");
}
.home-ui-show-images .home-ui-offer-M3-8 {
background-image: url("//media.staticontent.com/media/pictures/27fd7a63-6262-4d34-b0bd-aceadff84180/420x210");
}
.home-ui-show-images .home-ui-offer-M3-9 {
background-image: url("//media.staticontent.com/media/pictures/fdde1bb6-21e4-4ca3-a68c-95094abf68a3/420x210");
}
.home-ui-show-images .home-ui-offer-M3-10 {
background-image: url("//media.staticontent.com/media/pictures/b3e277ca-7361-4cc9-bb92-f7bf86e60840/420x210");
}
.home-ui-offer-M4-1 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-offer-M4-2 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-show-images .home-ui-offer-M4-3 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-show-images .home-ui-offer-M4-4 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-show-images .home-ui-offer-M4-5 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-show-images .home-ui-offer-M4-6 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-show-images .home-ui-offer-M4-7 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-show-images .home-ui-offer-M4-8 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-show-images .home-ui-offer-M4-9 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
@media (min-width: 768px) {
.home-ui-offer-p3.home-ui-offer-M1-3 {
background-image: url("//media.staticontent.com/media/pictures/474aeadb-9267-4cad-9416-d6e9aad036db/420x210");
}
.home-ui-offer-p3.home-ui-offer-M2-3 {
background-image: url("//media.staticontent.com/media/pictures/00133400-01fc-4159-ae16-363c19f9e848/420x210");
}
.home-ui-offer-p3.home-ui-offer-M3-3 {
background-image: url("//media.staticontent.com/media/pictures/5272c22e-c0fd-41f6-b0ee-bd3aedb0c2e7/420x210");
}
.home-ui-offer-p3.home-ui-offer-M4-3 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
}
@media (min-width: 1366px) {
.home-ui-offer-p4.home-ui-offer-M1-4 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-offer-p4.home-ui-offer-M2-4 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
.home-ui-offer-p4.home-ui-offer-M3-4 {
background-image: url("//media.staticontent.com/media/pictures/8cc460bc-c417-43eb-b290-9fef28feb54a/420x210");
}
.home-ui-offer-p4.home-ui-offer-M4-4 {
background-image: url("//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg");
}
}
.home-ui-offer-p3,
.home-ui-offer-p4,
.home-ui-offer-p5,
.home-ui-offer-p6,
.home-ui-offer-p7,
.home-ui-offer-p8,
.home-ui-offer-p9,
.home-ui-offer-p10,
.home-ui-offer-p11,
.home-ui-offer-p12,
.home-ui-offer-p13,
.home-ui-offer-p14,
.home-ui-offer-p15,
.home-ui-offer-p16,
.home-ui-offer-p17,
.home-ui-offer-p18,
.home-ui-offer-p19,
.home-ui-offer-p20 {
background-image: url( "//cl.staticontent.com/static-home-ui/1.66.14/img/offer/puesta-destinos-sinimagen.jpg ");
}

.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}

.ban-mkt-container{ background: linear-gradient(to right, #034ea2 0%, #034ea2 100%); }
.ban-mkt-container .ban-mkt-text1 { color:#ffffff ;}
.ban-mkt-container .ban-mkt-text2 { color:#ffffff ;}
.ban-mkt-container .ban-mkt-btn{
color: #ffffff!important;
border: solid 1px #ffffff !important;
}
.ban-mkt-container .ban-mkt-btn:hover{
color: #034ea2 !important;
background-color: #ffffff !important;
}
